<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
	<title>EMITSOFT | Professional IT Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <meta name="author" content="EMITSOFT - Elvin Mammadov">
    <meta name="keywords" content="IT Services, Software Licenses, Windows License, Microsoft Products, EMITSOFT, Digital Solutions, IT Support">
    <meta name="description" content="EMITSOFT provides trusted IT services and licensed software to help businesses grow through secure and efficient digital solutions.">
	<link rel="icon" type="image/x-icon" href="images/favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/style.css">
	
	<!-- JS -->
	<script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/app.js"></script>
	<script src="js/counter.js"></script>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-sanitize.js"></script>

    <script>
		function handleAdminClick() {
          if (sessionStorage.getItem('isLoggedIn') === 'true') {
            window.open('admin-panel.html', '_blank');
          } else {
            window.open('admin-login.html', '_blank');
          }
		} 
    </script>


</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70" ng-app="ShopApp" ng-controller="ShopCtrl">

    <!-- TOP NAV -->
    <div class="top-nav" id="home">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <p> <i class='bx bxs-envelope'></i><a href="mailto:info@emitsoft.de"> info@emitsoft.de</a>
                    <p> <i class='bx bxs-phone-call'></i> +49 123 456 7890</p>
                </div>
                <div class="col-auto">
                    <a href="#" onclick="handleAdminClick()" >Admin Panel</a>
                </div>
                <div class="col-auto social-icons">
                    <a href="https://www.facebook.com" target="_blank"><i class='bx bxl-facebook'></i></a>
                    <a href="https://www.x.com" target="_blank"><i class='bx bxl-twitter'></i></a>
					<a href="https://www.instagram.com" target="_blank"><i class='bx bxl-instagram'></i></a>
                    <a href="https://www.youtube.com" target="_blank"><i class='bx bxl-youtube'></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- BOTTOM NAV -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="EMITSOFT" height="64"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#shop">Shop</a>
                    </li>
                </ul>
                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    class="btn btn-brand ms-lg-3">Contact</a>
            </div>
        </div>
    </nav>

    <!-- SLIDER -->
    <div class="owl-carousel owl-theme hero-slider">
        <div class="slide slide1">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center text-white">
                        <h6 class="text-white text-uppercase">Trusted IT & Software Provider</h6>
                        <h1 class="display-3 my-4">Our job is to make <br /> your projects successful</h1>
                        <a href="#about" class="btn btn-brand">Get Started</a>
                        <a href="#services" class="btn btn-outline-light ms-3">Explore Services</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide slide2">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-1 text-white">
                        <h6 class="text-white text-uppercase">Reliable. Affordable. Professional</h6>
                        <h1 class="display-3 my-4">Your Partner for<br />IT Services & Licensing</h1>
                        <a href="#about" class="btn btn-brand">Get Started</a>
                        <a href="#shop" class="btn btn-outline-light ms-3">Browse Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ABOUT -->
    <section id="about">
        <div class="container">
            <div class="row justify-content-center">
			<div class="row">
                <div class="col-12">
                    <div class="intro">                        
                        <h1>About us</h1>
                        <h5 class="mx-auto">EMITSOFT is an IT service provider and software vendor with licensed software. 
						The company provides more affordable, <br>fully licensed and compliant, and better-supported digital solutions 
						that assist its clients to achieve their own business goals.</h5>
                    </div>
                </div>
            </div>
                <div class="col-lg-5 py-5">				
                    <div class="row">

                        <div class="col-12">
                            <div class="info-box">
                                <img src="images/icon6.png" alt="">
                                <div class="ms-4">
                                    <h5>Our Vision</h5>
                                    <p>We envision ourselves as a strategic partner in our clients' success, providing IT support solutions and software licenses for their ever-changing technology needs.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="info-box">
                                <img src="images/icon4.png" alt="">
                                <div class="ms-4">
                                    <h5>Our Mission</h5>
                                    <p>The EMITSOFT brand represents secure, trusted, and fully licensed software solutions that one can rely on. We empower clients through support-software to stay competitive, compliant, and technologically adept.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="info-box">
                                <img src="images/icon5.png" alt="">
                                <div class="ms-4">
                                    <h5>Our Values</h5>
                                    <p>Our values reflect what we are: we stand for trust, openness, and quality of service. We are a team that believes in professionalism, continuous learning, ethics, and successfully producing results that matter while forging  lasting relationships with our clients.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="images/about.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- MILESTONE -->
    <section id="milestone">
        <div class="container">
            <div class="row text-center justify-content-center gy-4">
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4 counter" data-target="3" data-suffix="K+">0</h1>
                    <p class="mb-0">Happy Clients</p>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4 counter" data-target="1.2" data-suffix="M">0</h1>
                    <p class="mb-0">Lines of code</p>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4 counter" data-target="850" data-suffix="">0</h1>
                    <p class="mb-0">Total Downloads</p>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4 counter" data-target="2.3" data-suffix="K">0</h1>
                    <p class="mb-0">YouTube Subscribers</p>
                </div>
            </div>
        </div>
    </section>

     <!-- SERVICES -->
    <section id="services" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro">
                        <h1>Our Services</h1>
                        <h5 class="mx-auto">We combine innovation, expertise, and technology to provide tailored IT services that help 
						businesses operate <br>more efficiently, securely, and competitively in the digital age.</h5>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6">
                    <div class="service">
                        <img src="images/icon1.png" alt="">
                        <h5>Managed IT Services</h5>
                        <p>Managed IT services offer proactive monitoring, maintenance, and support to keep your IT systems running securely 
						and efficiently. This approach reduces downtime, enhances productivity, and ensures that your infrastructure aligns 
						with evolving business goals.</p>
                    </div>
                </div>
				<div class="col-lg-4 col-md-6">
                    <div class="service">
                        <img src="images/icon2.png" alt="">
                        <h5>IT Support Services</h5>
                        <p>Our IT support and maintenance services improve your IT infrastructure and help you 
						optimize your IT operational environment. We will make it easier for you to balance the cost of 
						supporting your networking, security and telephony infrastructure against the risk of downtime.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service">
                        <img src="images/icon3.png" alt="">
                        <h5>IT Consultation</h5>
                        <p>Our IT consulting services will bring actual experience and best practices to your business and digital transformation. 
						Technology is only a medium to accomplish in your business challenges and goals. Hence, the choice of technology should be 
						according to your goals.</p>
                    </div>
                </div>				
            </div>
        </div>
    </section>    

     <!-- SHOP -->
    <section id="shop">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro">
                        <h1>Shop</h1>
                        <h5 class="mx-auto">We offer trusted software licenses that help businesses run smoothly and stay secure. 
						hether you're looking for tools to boost <br>productivity or protect your data, you'll find reliable solutions right here.</h5>
                    </div>
                </div>
            </div>
            <div class="row">
				<div class="col-md-4" ng-repeat="product in products">
					<article class="shop-post">
						<img ng-src="{{product.image}}" alt="{{product.name}}">
						<a class="tag">{{product.price | currency:'€'}}</a>
							<div class="content">
								<h5>{{product.name}}</h5>
								<p ng-bind-html="product.description"></p>
								<input type="number" ng-model="product.quantity" min="1" class="form-control mb-2" placeholder="Quantity">
								<button ng-click="addToCart(product)" class="btn btn-brand">Add to Cart</button>
							</div>
					</article>
				</div>
			</div>
			
			<div class="container mt-5">
				<h3>Your Cart ({{cart.length}} items)</h3>
				  <ul class="list-group">
					<li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="item in cart">
						{{item.name}} – x{{item.quantity}}
						<span>{{item.price * item.quantity | currency:'€'}}</span>
					</li>
				  </ul>
                <div class="mt-3 text-end">
                    <strong>Total:</strong> {{getTotal() | currency:'€'}}
                </div>
                <div class="col-12">
                    <button class="btn btn-brand" data-bs-toggle="modal" data-bs-target="#orderModal" ng-disabled="cart.length === 0">Place your order</button>
                </div>                
			</div>			
		</div>
	</section>

    <footer>
        <div class="footer-top text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h4 class="navbar-brand">EMITSOFT</h4>
                        <p>Bridging innovation and compliance through intelligent IT and licensed software solutions.</p>
                        <div class="col-auto social-icons">
                            <a href="https://www.facebook.com" target="_blank"><i class='bx bxl-facebook'></i></a>
                            <a href="https://www.x.com" target="_blank"><i class='bx bxl-twitter'></i></a>
                            <a href="https://www.instagram.com" target="_blank"><i class='bx bxl-instagram'></i></a>
                            <a href="https://www.youtube.com" target="_blank"><i class='bx bxl-youtube'></i></a>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <p class="mb-0">Copyright 2025. All rights Reserved</p>
        </div>
    </footer>

    <!-- Contact Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="container-fluid">
                        <div class="row gy-4">
                            <div class="col-lg-4 col-sm-12 bg-cover"
                                style="background-image: url(images/contact.jpg); min-height:300px;">
                                <div>

                                </div>
                            </div>
                            <div class="col-lg-8">
                                <form ng-controller="ContactCtrl" ng-submit="submitContact()" class="p-lg-5 col-12 row g-3">
                                      <div>
                                        <h1>Get in touch</h1>
                                        <p>Feel free to contact us and we will get back to you as soon as possible</p>
                                      </div>
                                      <div class="col-lg-6">
                                        <label class="form-label">First name</label>
                                        <input type="text" class="form-control" placeholder="Your first name" ng-model="contact.firstName">                                        
                                      </div>
                                      <div class="col-lg-6">
                                        <label class="form-label">Last name</label>
                                        <input type="text" class="form-control" placeholder="Your last name" ng-model="contact.lastName">
                                      </div>
                                      <div class="col-12">
                                        <label class="form-label">Email address</label>
                                        <input type="email" class="form-control" placeholder="name@example.com" ng-model="contact.email">
                                      </div>
                                      <div class="col-12">
                                        <label class="form-label">Enter Message</label>
                                        <textarea class="form-control" placeholder="Your message." ng-model="contact.message" rows="4"></textarea>
                                      </div>
                                      <div class="col-12">
                                        <button type="submit" class="btn btn-brand">Send Message</button>
                                      </div>
                                      <div class="col-12">
                                        <div class="alert alert-success" ng-if="contactSuccess">Your message has been sent!</div>
                                        <div class="alert alert-danger" ng-if="contactError">Something went wrong. Please try again later.</div>
                                      </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Order Modal -->
<div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="container-fluid">
          <div class="row gy-4">
            <div class="col-lg-4 col-sm-12 bg-cover"
              style="background-image: url('images/contact.jpg'); min-height:300px;">
            </div>
            <div class="col-lg-8">
              <form class="p-lg-5 col-12 row g-3" ng-submit="submitOrder()">
                <div>
                  <h1>Place Your Order</h1>
                  <p>Please fill in your details. We will get in touch with you shortly.</p>
                </div>
                <div class="col-lg-6">
                  <label class="form-label">First Name</label>
                  <input type="text" class="form-control" ng-model="order.firstName" placeholder="Your first name" required>
                </div>
                <div class="col-lg-6">
                  <label class="form-label">Last Name</label>
                  <input type="text" class="form-control" ng-model="order.lastName" placeholder="Your last name" required>
                </div>                
                <div class="col-12">
                  <label class="form-label">Address</label>
                  <input type="text" class="form-control" ng-model="order.address" placeholder="Your address" required>
                </div>
                <div class="col-12">
                  <label class="form-label">Email Address</label>
                  <input type="email" class="form-control" ng-model="order.email" placeholder="name@example.com" required>
                </div>
                <div class="col-12">
                  <label class="form-label">Phone Number</label>
                  <input type="tel" class="form-control" ng-model="order.phone" placeholder="Your number" required>
                </div>
                <div class="col-12">
                  <label class="form-label">Your Selected Products</label>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="item in cart">
                        {{item.name}} – x{{item.quantity}}
                        <span>{{item.price * item.quantity | currency:'€'}}</span>
                        </li>
                    </ul>
                    <div class="mt-2 text-end"><strong>Total:</strong> {{getTotal() | currency:'€'}} </div>
                </div>

                <div class="col-12">
                  <button type="submit" class="btn btn-brand">Submit Order</button>
                </div>
                <div class="col-12" ng-if="showSuccessMessage">
                    <div class="alert alert-success mt-3" role="alert">
                    Your order has been successfully submitted! We will contact you shortly.
                    </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Angular Script -->
<script>
  const app = angular.module('ShopApp', ['ngSanitize']);

  // Product and order controller
  app.controller('ShopCtrl', function($scope, $http) {
    $scope.products = [];
    $scope.cart = [];
    $scope.order = {
      firstName: '',
      lastName: '',
      email: '',
      address: '',
      phone: ''
    };
    $scope.showSuccessMessage = false;

    // Upload products
    $http.get('http://localhost:3000/api/products')
      .then(function(response) {
        $scope.products = response.data.map(product => {
          product.quantity = 1;
          return product;
        });
      }, function(error) {
        console.error('Failed to load products:', error);
      });

    // Add to cart
    $scope.addToCart = function(product) {
      if (!product.quantity || product.quantity < 1) return;

      const existing = $scope.cart.find(p => p.id === product.id);
      if (existing) {
        existing.quantity += parseInt(product.quantity);
      } else {
        $scope.cart.push({
          id: product.id,
          name: product.name,
          price: product.price,
          quantity: parseInt(product.quantity)
        });
      }
      product.quantity = 1;
    };

    // Total price
    $scope.getTotal = function() {
      return $scope.cart.reduce((total, item) => total + item.price * item.quantity, 0);
    };

    // Send order
    $scope.submitOrder = function () {
      if ($scope.cart.length === 0) {
        alert("Your cart is empty!");
        return;
      }

      const cleanCart = $scope.cart.map(({ $$hashKey, ...item }) => item);

      const orderData = {
        first_name: $scope.order.firstName,
        last_name: $scope.order.lastName,
        email: $scope.order.email,
        address: $scope.order.address,
        phone: $scope.order.phone,
        order_details: JSON.stringify(cleanCart),
        total_amount: $scope.getTotal()
      };

      $http.post('http://localhost:3000/api/orders', orderData)
        .then(function(response) {
          $scope.showSuccessMessage = true;
          $scope.order = {
            firstName: '',
            lastName: '',
            email: '',
            address: '',
            phone: ''
          };
          $scope.cart = [];
        }, function(error) {
          console.error('Order submission failed:', error);
          alert("Something went wrong while submitting your order.");
        });
    };
  });

  // Contact form controller
  app.controller('ContactCtrl', function($scope, $http) {
    $scope.contact = {};
    $scope.contactSuccess = false;
    $scope.contactError = false;

    $scope.submitContact = function() {
      $http.post('http://localhost:3000/api/contact', $scope.contact)
        .then(function(response) {
          $scope.contactSuccess = true;
          $scope.contactError = false;
          $scope.contact = {};
        }, function(error) {
          $scope.contactSuccess = false;
          $scope.contactError = true;
        });
    };
  });
</script>

</body>

</html>